<div class='container'>
<p class='total_amount'>Total budget: <%= @global_expense_amount.round(2) %>$</p>

<div class="expense_categories">
  <% @groups.each do |group| %>
    <%= render group %>
  <% end %>
</div>

<%= link_to "Add New Category", new_group_path() , class:'link_as_button secondary_button'%>
</div>
