<div class='grid_container'>
            <div class='logo_container'>
            <h1 class='playfair-font'>Budget Tracker</h1>
            </div>
            <div class='flex_vertical'>
            <%= link_to 'Sign Up', new_user_registration_path, class: 'link_as_button primary_button' %>
            <%= link_to 'Sign In', new_user_session_path, class: 'link_as_button custom_button' %>
            </div>
</div>